@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400&display=swap");

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1023px) {
  html {
    scroll-padding-top: 3.25rem;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.logo-title {
  margin-left: 0.5em;
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
}

.navbar-menu .navbar-item {
  margin: auto 0;
}

.navbar-burger {
  margin: auto 0;
}

.navbar-mobile-cta {
  margin: auto 0;
  margin-left: auto;
}

.navbar-brand .navbar-item:hover {
  color: #4a4a4a;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero.is-fullheight-with-navbar {
  min-height: calc(100vh - 3.25rem);
  min-height: calc((var(--vh, 1vh) * 100) - 3.25rem);
}

@media screen and (max-width: 1023px) {
  .navbar {
    position: fixed;
    width: 100%;
  }

  .hero.is-fullheight-with-navbar {
    height: calc(100vh);
    height: calc((var(--vh, 1vh) * 100));
  }

  .navbar-menu {
    position: absolute;
    right: 0;
    width: 200px;
    text-align: center;
  }

  .navbar-menu .button {
    width: 175px;
  }
}

.title:not(.is-spaced) + .subtitle {
  margin-top: 0;
}

.scroll-to-arrow {
  cursor: pointer;
  height: 25vh;
}

.nav-text {
  color: #e4e4e4;
  position: absolute;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  left: -0.5em;
  width: 100%;
  bottom: 9%;
  animation: mover 1s infinite alternate;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-arrow {
  position: absolute;
  width: 100%;
  text-align: center;
  left: -0.5em;
  bottom: 5%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.footer {
  background-color: #7bc96f;
}

.hidden {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
