@import "./normalize.css";
@import "./bulma.css";

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1023px) {
  html {
    scroll-padding-top: 3.25rem;
  }
}

body {
  font-family: "Montserrat", BlinkMacSystemFont, -apple-system, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a {
  color: #239a3b;
}

a:not(.button) svg:hover {
  fill: #196127;
}

a:hover {
  color: #196127;
}

.button:hover {
  transform: scale(1.025);
}

.button:active {
  transform: scale(1.02);
  transform: translateY(1px);
}

.button.is-primary {
  background-color: #239a3b;
}

.button.is-primary:hover,
.button.is-primary.is-outlined:hover {
  background-color: #196127;
  border-color: #196127;
}

.button.is-primary.is-outlined {
  border-color: #239a3b;
  color: #239a3b;
}

a.navbar-item:hover {
  color: #239a3b;
}

.logo-title {
  margin-left: 0.5em;
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
}

.navbar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar-menu .navbar-item {
  margin: auto 0;
}

.navbar-burger {
  margin: auto 0;
}

.navbar-burger > span {
  pointer-events: none;
}

.navbar-mobile-cta {
  margin: auto 0;
  margin-left: auto;
}

.navbar-brand .navbar-item:hover {
  color: #4a4a4a;
}

.hero.is-fullheight-with-navbar {
  min-height: calc(100vh - 3.25rem);
  min-height: calc((var(--vh, 1vh) * 100) - 3.25rem);
}

@media screen and (max-width: 1023px) {
  .navbar {
    position: fixed;
    width: 100%;
  }

  .hero.is-fullheight-with-navbar {
    min-height: calc(100vh);
    min-height: calc((var(--vh, 1vh) * 100 + 1.8rem));
  }

  .hero .control {
    margin-top: 1em;
  }

  .navbar-menu {
    position: absolute;
    right: 0;
    width: 200px;
    text-align: center;
  }

  .navbar-menu .button {
    width: 175px;
  }
}

.title:not(.is-spaced) + .subtitle {
  margin-top: 0;
}

.scroll-to-arrow {
  cursor: pointer;
  height: 25vh;
}

.nav-text {
  color: #e4e4e4;
  position: absolute;
  /* text-transform: uppercase; */
  font-weight: 100;
  text-align: center;
  left: -0.5em;
  width: 100%;
  bottom: 12%;
  animation: mover 1s infinite alternate;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-arrow {
  position: absolute;
  width: 100%;
  text-align: center;
  left: -0.5em;
  bottom: 8%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.footer {
  background-color: #ebedf0;
}

.footer a,
.footer p {
  color: #4a4a4a;
}

.modal h3,
.modal p:not(.modal-card-title) {
  margin: 1em 0;
}

.hidden {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
