.hero {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1920' height='1280' viewBox='0 0 1920 1280'%3E%3Cfilter id='blur' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='20 20' edgeMode='duplicate' /%3E%3CfeComponentTransfer%3E%3CfeFuncA type='discrete' tableValues='1 1' /%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Cimage filter='url(%23blur)' xlink:href='data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAAQABAAD/4QBWRXhpZgAATU0AKgAAAAgABAEaAAUAAAABAAAAPgEbAAUAAAABAAAARgEoAAMAAAABAAIAAAITAAMAAAABAAEAAAAAAAAAAAABAAAAAQAAAAEAAAAB/9sAQwAQCwwODAoQDg0OEhEQExgoGhgWFhgxIyUdKDozPTw5Mzg3QEhcTkBEV0U3OFBtUVdfYmdoZz5NcXlwZHhcZWdj/9sAQwEREhIYFRgvGhovY0I4QmNjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2Nj/8AAEQgAGQAoAwERAAIRAQMRAf/EABgAAAMBAQAAAAAAAAAAAAAAAAMEBQIG/8QALxAAAgEDAwICCAcAAAAAAAAAAQIDAAQRBRIhMUETIgYUIzQ1cZGhUWGBwdHh8P/EABcBAQEBAQAAAAAAAAAAAAAAAAEAAgP/xAAbEQEAAwEBAQEAAAAAAAAAAAAAAQIREkEhMf/aAAwDAQACEQMRAD8AgGEz3A8MjK847msWtyzM4v2OqQWrTzeZt7jyrnoQOcj5VqLOffgOtaqWtYBbtIjFjlt+7gf3inqJbpaLfiQNUvI1OLhsN1yAc0tsy6ndXARZZQRHkrkAAZqRYeIGBKsFPB7ZFZGKulRRynKIzMEOUGeT24qxm1YZ9JF2XscYQoFiXPGBn/YpzDWE1pAy8E8flU0EATwOtSdJa6zZuuJIwhx1Zdw+1OwMVLXUImXEfq0uRj2Umxvof5p0YXurW2kcPKbm2bGNz7mH15H3pX0CTSbdkLxahbOvcuB+3NWLSEljbQzIUDEhgTnKhv0/D51kog60EVu1CdVoXutbgSXm+MLV6Griow//2Q==' x='0' y='0' height='100%25' width='100%25'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 1000% 1000px;
  border-bottom-right-radius: 1000% 1000px;

  .title {
    margin-bottom: 3rem;
  }
  .subtitle {
    margin-bottom: 3rem;
  }

  &.is-fullheight-with-navbar {
    min-height: calc(100vh - 3.25rem + 3rem + 4rem);
    min-height: calc((var(--vh, 1vh) * 100) - 3.25rem + 3rem + 4rem);
    .hero-body {
      min-height: calc(100vh - 3.25rem + 3rem +4rem);
      min-height: calc((var(--vh, 1vh) * 100) - 3.25rem + 3rem + 4rem);
    }
  }

  .hero-body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1920' height='1280' viewBox='0 0 1920 1280'%3E%3Cfilter id='blur' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='20 20' edgeMode='duplicate' /%3E%3CfeComponentTransfer%3E%3CfeFuncA type='discrete' tableValues='1 1' /%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Cimage filter='url(%23blur)' xlink:href='data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAAQABAAD/4QBWRXhpZgAATU0AKgAAAAgABAEaAAUAAAABAAAAPgEbAAUAAAABAAAARgEoAAMAAAABAAIAAAITAAMAAAABAAEAAAAAAAAAAAABAAAAAQAAAAEAAAAB/9sAQwAQCwwODAoQDg0OEhEQExgoGhgWFhgxIyUdKDozPTw5Mzg3QEhcTkBEV0U3OFBtUVdfYmdoZz5NcXlwZHhcZWdj/9sAQwEREhIYFRgvGhovY0I4QmNjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2Nj/8AAEQgAGQAoAwERAAIRAQMRAf/EABgAAAMBAQAAAAAAAAAAAAAAAAMEBQIG/8QALxAAAgEDAwICCAcAAAAAAAAAAQIDAAQRBRIhMUETIgYUIzQ1cZGhUWGBwdHh8P/EABcBAQEBAQAAAAAAAAAAAAAAAAEAAgP/xAAbEQEAAwEBAQEAAAAAAAAAAAAAAQIREkEhMf/aAAwDAQACEQMRAD8AgGEz3A8MjK847msWtyzM4v2OqQWrTzeZt7jyrnoQOcj5VqLOffgOtaqWtYBbtIjFjlt+7gf3inqJbpaLfiQNUvI1OLhsN1yAc0tsy6ndXARZZQRHkrkAAZqRYeIGBKsFPB7ZFZGKulRRynKIzMEOUGeT24qxm1YZ9JF2XscYQoFiXPGBn/YpzDWE1pAy8E8flU0EATwOtSdJa6zZuuJIwhx1Zdw+1OwMVLXUImXEfq0uRj2Umxvof5p0YXurW2kcPKbm2bGNz7mH15H3pX0CTSbdkLxahbOvcuB+3NWLSEljbQzIUDEhgTnKhv0/D51kog60EVu1CdVoXutbgSXm+MLV6Griow//2Q==' x='0' y='0' height='100%25' width='100%25'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom-left-radius: 1000% 1000px;
    border-bottom-right-radius: 1000% 1000px;
    background-image: linear-gradient(
      rgba(109, 48, 57, 0.6),
      rgba(109, 48, 57, 0.25)
    );

    &.enhanced {
      background-image: linear-gradient(
          rgba(109, 48, 57, 0.6),
          rgba(109, 48, 57, 0.25)
        ),
        url("../img/hero.jpg");
      // background-image: linear-gradient(
      //     rgba(109, 48, 57, 0.6),
      //     rgba(109, 48, 57, 0.25)
      //   ),
      //   url("../img/hero.webp");
    }

    .cta-text {
      display: inline-block;
      padding: 0.2em 0.2em;
      background-color: rgba(35, 154, 59, 0.8);
      border-radius: 5px;
      width: fit-content;
    }

    .cta-desktop {
      margin-top: 6rem;
    }

    .scroll-to-arrow {
      cursor: pointer;
      position: absolute;
      width: 100%;
      bottom: 5rem;
      left: 0;

      .nav-text {
        color: #fff;
        font-weight: 100;
        text-align: center;
        width: 100%;
        animation: mover 1s infinite alternate;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .nav-arrow {
        width: 100%;
        text-align: center;
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
      }
    }
  }
}
