// Brand colors
$darkGreen: #196127;
$midGreen: #239a3b;
$lightGreen: #7bc96f;
$lightestGreen: #c6e48b;
$darkGrey: #4a4a4a;
$lightGrey: #ebedf0;

// Bulma Overwrites
$family-sans-serif: "Montserrat", sans-serif;
$primary: $midGreen;
$info: $darkGrey;
$link: $midGreen;
$link-visited: $darkGreen;
$link-hover: $darkGreen;
$link-hover-border: $midGreen;
$link-focus: $darkGreen;
$link-focus-border: $midGreen;
$link-active: $darkGreen;
$link-active-border: $midGreen;
