@charset "utf-8";
@import "./normalizecss/_normalize.scss";
@import "./_variables.scss";
@import "./_resets.scss";
@import "./_utils.scss";
@import "./_animations.scss";

// Bulma Overwrites
$family-sans-serif: "Montserrat", sans-serif;
$primary: $midGreen;
$link: $midGreen;
$link-visited: $darkGreen;
$link-hover: $darkGreen;
$link-hover-border: $midGreen;
$link-focus: $darkGreen;
$link-focus-border: $midGreen;
$link-active: $darkGreen;
$link-active-border: $midGreen;

@import "./bulma/_bulma.sass";

// Custom CSS
html {
  background-color: $white-ter;
}

a {
  &:not(.button) {
    svg {
      &:hover {
        fill: $darkGreen;
      }
    }
  }
}
.button {
  &:hover {
    transform: scale(1.025);
  }
  &:active {
    transform: scale(1.02);
    transform: translateY(1px);
  }
}

.logo-title {
  margin-left: 0.5em;
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
}
.navbar {
  background-color: $white-ter;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navbar-menu {
  .navbar-item {
    margin: auto 0;
  }
}
.navbar-burger {
  margin: auto 0;
  > span {
    pointer-events: none;
  }
}
.navbar-mobile-cta {
  margin: auto 0;
  margin-left: auto;
}
.navbar-brand {
  .navbar-item {
    &:hover {
      color: $darkGrey;
    }
  }
}
.hero {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1920' height='1280' viewBox='0 0 1920 1280'%3E%3Cfilter id='blur' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='20 20' edgeMode='duplicate' /%3E%3CfeComponentTransfer%3E%3CfeFuncA type='discrete' tableValues='1 1' /%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Cimage filter='url(%23blur)' xlink:href='data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAAQABAAD/4QBWRXhpZgAATU0AKgAAAAgABAEaAAUAAAABAAAAPgEbAAUAAAABAAAARgEoAAMAAAABAAIAAAITAAMAAAABAAEAAAAAAAAAAAABAAAAAQAAAAEAAAAB/9sAQwAQCwwODAoQDg0OEhEQExgoGhgWFhgxIyUdKDozPTw5Mzg3QEhcTkBEV0U3OFBtUVdfYmdoZz5NcXlwZHhcZWdj/9sAQwEREhIYFRgvGhovY0I4QmNjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2Nj/8AAEQgAGQAoAwERAAIRAQMRAf/EABgAAAMBAQAAAAAAAAAAAAAAAAMEBQIG/8QALxAAAgEDAwICCAcAAAAAAAAAAQIDAAQRBRIhMUETIgYUIzQ1cZGhUWGBwdHh8P/EABcBAQEBAQAAAAAAAAAAAAAAAAEAAgP/xAAbEQEAAwEBAQEAAAAAAAAAAAAAAQIREkEhMf/aAAwDAQACEQMRAD8AgGEz3A8MjK847msWtyzM4v2OqQWrTzeZt7jyrnoQOcj5VqLOffgOtaqWtYBbtIjFjlt+7gf3inqJbpaLfiQNUvI1OLhsN1yAc0tsy6ndXARZZQRHkrkAAZqRYeIGBKsFPB7ZFZGKulRRynKIzMEOUGeT24qxm1YZ9JF2XscYQoFiXPGBn/YpzDWE1pAy8E8flU0EATwOtSdJa6zZuuJIwhx1Zdw+1OwMVLXUImXEfq0uRj2Umxvof5p0YXurW2kcPKbm2bGNz7mH15H3pX0CTSbdkLxahbOvcuB+3NWLSEljbQzIUDEhgTnKhv0/D51kog60EVu1CdVoXutbgSXm+MLV6Griow//2Q==' x='0' y='0' height='100%25' width='100%25'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 1000% 1000px;
  border-bottom-right-radius: 1000% 1000px;
}
.hero-body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1920' height='1280' viewBox='0 0 1920 1280'%3E%3Cfilter id='blur' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='20 20' edgeMode='duplicate' /%3E%3CfeComponentTransfer%3E%3CfeFuncA type='discrete' tableValues='1 1' /%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Cimage filter='url(%23blur)' xlink:href='data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAAQABAAD/4QBWRXhpZgAATU0AKgAAAAgABAEaAAUAAAABAAAAPgEbAAUAAAABAAAARgEoAAMAAAABAAIAAAITAAMAAAABAAEAAAAAAAAAAAABAAAAAQAAAAEAAAAB/9sAQwAQCwwODAoQDg0OEhEQExgoGhgWFhgxIyUdKDozPTw5Mzg3QEhcTkBEV0U3OFBtUVdfYmdoZz5NcXlwZHhcZWdj/9sAQwEREhIYFRgvGhovY0I4QmNjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2Nj/8AAEQgAGQAoAwERAAIRAQMRAf/EABgAAAMBAQAAAAAAAAAAAAAAAAMEBQIG/8QALxAAAgEDAwICCAcAAAAAAAAAAQIDAAQRBRIhMUETIgYUIzQ1cZGhUWGBwdHh8P/EABcBAQEBAQAAAAAAAAAAAAAAAAEAAgP/xAAbEQEAAwEBAQEAAAAAAAAAAAAAAQIREkEhMf/aAAwDAQACEQMRAD8AgGEz3A8MjK847msWtyzM4v2OqQWrTzeZt7jyrnoQOcj5VqLOffgOtaqWtYBbtIjFjlt+7gf3inqJbpaLfiQNUvI1OLhsN1yAc0tsy6ndXARZZQRHkrkAAZqRYeIGBKsFPB7ZFZGKulRRynKIzMEOUGeT24qxm1YZ9JF2XscYQoFiXPGBn/YpzDWE1pAy8E8flU0EATwOtSdJa6zZuuJIwhx1Zdw+1OwMVLXUImXEfq0uRj2Umxvof5p0YXurW2kcPKbm2bGNz7mH15H3pX0CTSbdkLxahbOvcuB+3NWLSEljbQzIUDEhgTnKhv0/D51kog60EVu1CdVoXutbgSXm+MLV6Griow//2Q==' x='0' y='0' height='100%25' width='100%25'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 1000% 1000px;
  border-bottom-right-radius: 1000% 1000px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.hero-body.enhanced {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/hero.jpg");
}
.hero.is-fullheight-with-navbar {
  min-height: calc(100vh - 3.25rem + 3rem);
  min-height: calc((var(--vh, 1vh) * 100) - 3.25rem + 3rem);
  .hero-body {
    min-height: calc(100vh - 3.25rem + 3rem);
    min-height: calc((var(--vh, 1vh) * 100) - 3.25rem + 3rem);
  }
}
.title {
  &:not(.is-spaced) {
    + {
      .subtitle {
        margin-top: 0;
      }
    }
  }
}
.scroll-to-arrow {
  cursor: pointer;
  height: 25vh;
}
.nav-text {
  color: $lightGrey;
  position: absolute;
  font-weight: 100;
  text-align: center;
  left: -0.5em;
  width: 100%;
  bottom: 15%;
  animation: mover 1s infinite alternate;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-arrow {
  position: absolute;
  width: 100%;
  text-align: center;
  left: -0.5em;
  bottom: 12%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
main {
  .section {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    &:nth-child(even) {
      background: linear-gradient($midGreen, $lightGreen);
      margin: 3rem 0;
      .title {
        color: $white-ter;
      }
      .subtitle {
        color: $white-ter;
      }
      form {
        .label {
          color: $white-ter;
        }
      }
      &::before {
        position: absolute;
        left: 0;
        top: -3rem;
        content: "";
        display: block;
        height: 3rem;
        width: 100vw;
        background-color: $midGreen;
        border-top-left-radius: 1000% 1000px;
        border-top-right-radius: 1000% 1000px;
      }
      &::after {
        position: absolute;
        left: 0;
        bottom: -3rem;
        content: "";
        display: block;
        height: 3rem;
        width: 100vw;
        background-color: $lightGreen;
        border-bottom-left-radius: 1000% 1000px;
        border-bottom-right-radius: 1000% 1000px;
      }
    }
  }
}
.form-container {
  form {
    input {
      &::placeholder {
        color: $lightGrey;
      }
    }
    textarea {
      &::placeholder {
        color: $lightGrey;
      }
    }
    > .field {
      margin: 1rem 0;
    }
  }
  margin: 3rem auto 0 auto;
  padding: 1rem 3rem;
  max-width: 960px;
}
.footer {
  background-color: $white-ter;
  a {
    color: $darkGrey;

    &:hover {
      color: $darkGreen;
    }
  }
  p {
    color: $darkGrey;
  }
}
.modal {
  h3 {
    margin: 1em 0;
  }
  p {
    &:not(.modal-card-title) {
      margin: 1em 0;
    }
  }
}

@media screen and (max-width: 1023px) {
  html {
    scroll-padding-top: 3.25rem;
  }
  .navbar {
    position: fixed;
    width: 100%;
  }
  .hero.is-fullheight-with-navbar {
    min-height: calc(100vh + 3rem);
    min-height: calc((var(--vh, 1vh) * 100 + 1.8rem + 3rem));
    .hero-body {
      min-height: calc(100vh + 3rem);
      min-height: calc((var(--vh, 1vh) * 100 + 1.8rem + 3rem));
    }
  }
  .hero {
    .control {
      margin-top: 1em;
    }
  }
  form {
    .control {
      margin-top: 1em;
    }
  }
  .navbar-menu {
    position: absolute;
    right: 0;
    width: 200px;
    text-align: center;
    .button {
      width: 175px;
    }
  }
  .form-container {
    margin: 2rem auto 0 auto;
    padding: 0;
  }
}
@media screen and (max-height: 623px) {
  .scroll-to-arrow {
    display: none;
  }
}
