@charset "utf-8";
@import "./aos/_aos.scss";
@import "./normalizecss/_normalize.scss";
@import "./_variables.scss";
@import "./_resets.scss";
@import "./_utils.scss";
@import "./_animations.scss";

// Bulma Overwrites
$family-sans-serif: "Montserrat", sans-serif;
$primary: $midGreen;
$info: $darkGrey;
$link: $midGreen;
$link-visited: $darkGreen;
$link-hover: $darkGreen;
$link-hover-border: $midGreen;
$link-focus: $darkGreen;
$link-focus-border: $midGreen;
$link-active: $darkGreen;
$link-active-border: $midGreen;

@import "./bulma/_bulma.sass";

// Custom CSS

// General Styles

html {
  scroll-padding-top: 3.25rem;
  background-color: $white-ter;
}

body {
  overflow: hidden;
}

hr {
  background-color: $darkGrey;
  height: 1px;
}

a {
  &:not(.button):not(.main-logo) {
    svg {
      &:hover {
        fill: $darkGreen;
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }
}
.button {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.1s ease-in;

  &:hover {
    transform: scale(1.025);
  }
  &:active {
    transform: scale(1.02);
    transform: translateY(1px);
    box-shadow: none;
  }
}

.title {
  &:not(.is-spaced) {
    + {
      .subtitle {
        margin-top: 0;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  & + .subtitle {
    margin-bottom: 2.5rem;
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }
}

// Navbar
.navbar {
  position: fixed;
  width: 100%;
  background-color: $white-ter;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .navbar-brand > .navbar-item > svg {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem;
  }

  .logo-title {
    margin-left: 0.5em;
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
  }

  .navbar-menu {
    .navbar-item {
      margin: auto 0;
    }
  }
  .navbar-burger {
    margin: auto 0;
    span {
      pointer-events: none;

      &:not(:first-child) {
        width: 12px;
      }
    }
    &.is-active {
      span {
        width: 16px;
      }
    }
  }

  .navbar-mobile-cta {
    margin: auto 0;
    margin-left: auto;
  }
  .navbar-brand {
    .navbar-item {
      &:hover,
      &:active,
      &:visited {
        color: $darkGrey;
      }
    }
  }
  a.navbar-item:hover,
  a.navbar-item:active,
  a.navbar-item:visited {
    background-color: $white-ter;
  }
}

// Hero-Section
.hero {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1920' height='1280' viewBox='0 0 1920 1280'%3E%3Cfilter id='blur' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='20 20' edgeMode='duplicate' /%3E%3CfeComponentTransfer%3E%3CfeFuncA type='discrete' tableValues='1 1' /%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Cimage filter='url(%23blur)' xlink:href='data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAAQABAAD/4QBWRXhpZgAATU0AKgAAAAgABAEaAAUAAAABAAAAPgEbAAUAAAABAAAARgEoAAMAAAABAAIAAAITAAMAAAABAAEAAAAAAAAAAAABAAAAAQAAAAEAAAAB/9sAQwAQCwwODAoQDg0OEhEQExgoGhgWFhgxIyUdKDozPTw5Mzg3QEhcTkBEV0U3OFBtUVdfYmdoZz5NcXlwZHhcZWdj/9sAQwEREhIYFRgvGhovY0I4QmNjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2Nj/8AAEQgAGQAoAwERAAIRAQMRAf/EABgAAAMBAQAAAAAAAAAAAAAAAAMEBQIG/8QALxAAAgEDAwICCAcAAAAAAAAAAQIDAAQRBRIhMUETIgYUIzQ1cZGhUWGBwdHh8P/EABcBAQEBAQAAAAAAAAAAAAAAAAEAAgP/xAAbEQEAAwEBAQEAAAAAAAAAAAAAAQIREkEhMf/aAAwDAQACEQMRAD8AgGEz3A8MjK847msWtyzM4v2OqQWrTzeZt7jyrnoQOcj5VqLOffgOtaqWtYBbtIjFjlt+7gf3inqJbpaLfiQNUvI1OLhsN1yAc0tsy6ndXARZZQRHkrkAAZqRYeIGBKsFPB7ZFZGKulRRynKIzMEOUGeT24qxm1YZ9JF2XscYQoFiXPGBn/YpzDWE1pAy8E8flU0EATwOtSdJa6zZuuJIwhx1Zdw+1OwMVLXUImXEfq0uRj2Umxvof5p0YXurW2kcPKbm2bGNz7mH15H3pX0CTSbdkLxahbOvcuB+3NWLSEljbQzIUDEhgTnKhv0/D51kog60EVu1CdVoXutbgSXm+MLV6Griow//2Q==' x='0' y='0' height='100%25' width='100%25'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 1000% 1000px;
  border-bottom-right-radius: 1000% 1000px;

  .title {
    margin-bottom: 3rem;
  }
  .subtitle {
    margin-bottom: 3rem;
  }

  &.is-fullheight-with-navbar {
    min-height: calc(100vh - 3.25rem + 3rem + 4rem);
    min-height: calc((var(--vh, 1vh) * 100) - 3.25rem + 3rem + 4rem);
    .hero-body {
      min-height: calc(100vh - 3.25rem + 3rem +4rem);
      min-height: calc((var(--vh, 1vh) * 100) - 3.25rem + 3rem + 4rem);
    }
  }

  .hero-body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1920' height='1280' viewBox='0 0 1920 1280'%3E%3Cfilter id='blur' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='20 20' edgeMode='duplicate' /%3E%3CfeComponentTransfer%3E%3CfeFuncA type='discrete' tableValues='1 1' /%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Cimage filter='url(%23blur)' xlink:href='data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAAQABAAD/4QBWRXhpZgAATU0AKgAAAAgABAEaAAUAAAABAAAAPgEbAAUAAAABAAAARgEoAAMAAAABAAIAAAITAAMAAAABAAEAAAAAAAAAAAABAAAAAQAAAAEAAAAB/9sAQwAQCwwODAoQDg0OEhEQExgoGhgWFhgxIyUdKDozPTw5Mzg3QEhcTkBEV0U3OFBtUVdfYmdoZz5NcXlwZHhcZWdj/9sAQwEREhIYFRgvGhovY0I4QmNjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2Nj/8AAEQgAGQAoAwERAAIRAQMRAf/EABgAAAMBAQAAAAAAAAAAAAAAAAMEBQIG/8QALxAAAgEDAwICCAcAAAAAAAAAAQIDAAQRBRIhMUETIgYUIzQ1cZGhUWGBwdHh8P/EABcBAQEBAQAAAAAAAAAAAAAAAAEAAgP/xAAbEQEAAwEBAQEAAAAAAAAAAAAAAQIREkEhMf/aAAwDAQACEQMRAD8AgGEz3A8MjK847msWtyzM4v2OqQWrTzeZt7jyrnoQOcj5VqLOffgOtaqWtYBbtIjFjlt+7gf3inqJbpaLfiQNUvI1OLhsN1yAc0tsy6ndXARZZQRHkrkAAZqRYeIGBKsFPB7ZFZGKulRRynKIzMEOUGeT24qxm1YZ9JF2XscYQoFiXPGBn/YpzDWE1pAy8E8flU0EATwOtSdJa6zZuuJIwhx1Zdw+1OwMVLXUImXEfq0uRj2Umxvof5p0YXurW2kcPKbm2bGNz7mH15H3pX0CTSbdkLxahbOvcuB+3NWLSEljbQzIUDEhgTnKhv0/D51kog60EVu1CdVoXutbgSXm+MLV6Griow//2Q==' x='0' y='0' height='100%25' width='100%25'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom-left-radius: 1000% 1000px;
    border-bottom-right-radius: 1000% 1000px;
    background-image: linear-gradient(
      rgba(109, 48, 57, 0.6),
      rgba(109, 48, 57, 0.25)
    );

    &.enhanced {
      background-image: linear-gradient(
          rgba(109, 48, 57, 0.6),
          rgba(109, 48, 57, 0.25)
        ),
        url("../img/hero.jpg");
      background-image: linear-gradient(
          rgba(109, 48, 57, 0.6),
          rgba(109, 48, 57, 0.25)
        ),
        url("../img/hero.webp");
    }

    .cta-desktop {
      margin-top: 6rem;
    }

    .scroll-to-arrow {
      cursor: pointer;
      position: relative;
      top: 15vmin;

      .nav-text {
        color: #fff;
        font-weight: 100;
        text-align: center;
        width: 100%;
        animation: mover 1s infinite alternate;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .nav-arrow {
        width: 100%;
        text-align: center;
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
      }
    }
  }
}

// Main Content Styles
main {
  .section {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .card {
      &,
      .card-image figure img {
        border-radius: 1rem 1rem 0 0;
      }

      .title,
      .title:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      .small-logo img {
        border: 1px solid #adadad;
        border-radius: 5px;
      }

      .subtitle,
      .subtitle:not(:last-child) {
        margin: 0;
      }

      .card-content {
        .button {
          display: block;
        }

        .technologies-used {
          padding: 1rem 0;
          text-align: center;

          img {
            margin: 0.5rem;
            width: 35px;
            height: 35px;

            &:hover {
              transform: scale(1.2);
              cursor: pointer;
            }
          }
        }
      }
    }

    &:nth-child(odd) {
      .title,
      .subtitle strong {
        color: $midGreen;
      }
    }

    &:nth-child(even) {
      background: linear-gradient($midGreen, $lightGreen);
      margin: 3rem 0;
      .title,
      .subtitle {
        color: $white-ter;
      }
      form {
        .label {
          color: $white-ter;
        }
      }

      &::before {
        position: absolute;
        left: 0;
        top: -2.9rem;
        content: "";
        display: block;
        height: 3rem;
        width: 100vw;
        background-color: $midGreen;
        border-top-left-radius: 1000% 1000px;
        border-top-right-radius: 1000% 1000px;
      }
      &::after {
        position: absolute;
        left: 0;
        bottom: -2.9rem;
        content: "";
        display: block;
        height: 3rem;
        width: 100vw;
        background-color: $lightGreen;
        border-bottom-left-radius: 1000% 1000px;
        border-bottom-right-radius: 1000% 1000px;
      }
    }
  }
}

// Technology-Logos Carousel
.technologies {
  overflow: hidden;

  .subtitle {
    margin: 3rem 0 2rem 0;
    font-size: 1.5rem;
  }

  .logo-carousel {
    height: 6rem;
    overflow: hidden;
    width: 126rem;
    position: relative;
    margin: 0 auto;

    .logo-carousel__inner {
      display: block;
      width: 200%;
      margin: 1rem 0;
      position: absolute;
      animation: scroll-left 30s linear infinite;
      animation-fill-mode: forwards;

      &:hover {
        animation-play-state: paused;
      }

      .logo-carousel__item {
        width: 4rem;
        height: 4rem;
        display: inline-block;
        margin: 0 1rem;
        transition: all 0.2s ease-out;

        &:hover {
          transform: scale(1.2);
          cursor: pointer;
        }
      }

      span {
        float: left;
        width: 50%;
      }
    }
  }
}

// Contact Form
.form-container {
  padding: 1rem 3rem;
  max-width: 960px;
  margin: 0 auto;

  form {
    input {
      &::placeholder {
        color: #a6a6a6;
      }
    }
    textarea {
      &::placeholder {
        color: #a6a6a6;
      }
    }
    > .field {
      margin: 1rem 0;
    }
  }
}

// Site Footer
.footer {
  background-color: $white-ter;
  a {
    color: $darkGrey;

    &:hover {
      color: $darkGreen;
    }
  }
  p {
    color: $darkGrey;
  }
}

// Modals
.modal {
  h3 {
    margin: 1em 0;
  }
  p {
    &:not(.modal-card-title) {
      margin: 1em 0;
    }
  }
}

// Cookie Banner
.cookie-banner {
  background-color: rgba(245, 245, 245, 0.8);
  color: $darkGrey;
  padding: 0.5em;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  max-width: 760px;
  margin: 1rem auto;
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
    0 3px 7px -3px rgba(0, 0, 0, 0.3);

  .cookie-banner__content {
    display: flex;
    align-items: center;
    margin: 0 auto;

    .cookie-banner__text {
      padding: 1em;
      color: $darkGrey;
      text-align: left;
      width: 70%;
    }

    .cookie-banner__buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 30%;

      & > button {
        @extend .button;
        @extend .is-rounded;
        @extend .is-outlined;
        @extend .is-small;

        margin: 0.5em 1em;
        width: 5rem;
      }

      & > .cookie-banner__accept-button {
        @extend .is-primary;
      }

      & > .cookie-banner__info-button {
        @extend .is-info;
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: 0;
  }
  100% {
    transform: translateX(-1800px);
  }
}

@media screen and (max-width: 1023px) {
  html {
    scroll-padding-top: 3.25rem;
  }

  .hero {
    .hero-body {
      .scroll-to-arrow {
        top: 4vh;
      }
    }
  }

  .hero.is-fullheight-with-navbar {
    min-height: calc(100vh + 3rem);
    min-height: calc((var(--vh, 1vh) * 100 + 1.8rem + 3rem));
    .hero-body {
      min-height: calc(100vh + 3rem);
      min-height: calc((var(--vh, 1vh) * 100 + 1.8rem + 3rem));
    }
  }
  .hero,
  .about {
    .control {
      margin-top: 1em;
    }
  }
  form {
    .control {
      margin-top: 1em;
    }
  }
  .navbar-menu {
    position: absolute;
    background-color: $white-ter;
    right: 0;
    width: 200px;
    text-align: center;
    .button {
      width: 175px;
    }
  }
  .form-container {
    margin: 2rem auto 0 auto;
    padding: 0;
  }

  .technologies {
    .showcase__item {
      margin: 1rem 1.5rem;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
@media screen and (max-height: 623px) {
  .scroll-to-arrow {
    display: none;
  }
}
